    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ account.id) }}">
    <button class="btn btn-danger" data-toggle="modal"
            data-target="#confirm-submit{{ account.id }} ">Delete
    </button>