a
{
text-decoration: none;
}
.Title
{
    font-size: 2em; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.Summary
{
    font-size: 1.5em;
}
.Graph
{
   font-size: 1.5em; 
}
.return_button
 {
    align-items: flex-start;
    justify-content: flex-start;
 }
td
 {
    padding: 10 100 10 100;
 }
 br
 {
    margin: 20 20 20 20;
 }
 #product_div
 {
    background-color:blue;
    display: flex ;
    width: 10%;
    height: 10%;
    text-align: center;
    justify-content: center;
    margin: 20 20 20 20;
 }
.button
{
   border: none;
   background-color: green;
   font-size: 1em;
}
.button_deduct
{
   border: none;
   background-color: red;
   font-size: 1em;
}
.Conso_array
{
   display: flex;
   flex-direction: row;
   width: auto;
   flex-wrap: wrap;
   
}
.Nb_input
{
   width: 100%;
}
.Edit_icon
{
   width: 5%;
   filter: invert(50%);
}
.Trash_icon
{
   width: 5%;
   filter: invert(50%);
}
.Modify_Input
{
   height: 20px;
   width: 20px;
   background-size: 20px 20px;
   background-image: url('/media/Edit_icon.png');
   background-repeat: no-repeat;
   border: none;
   background-color: transparent;
   filter: invert(50%);
   cursor: pointer;
   margin-left: 5px;
}
.Delete_Input
{
   height: 20px;
   width: 20px;
   background-size: 20px 20px;
   background-image: url('/media/Trash_icon.png');
   background-repeat: no-repeat;
   border: none;
   background-color: transparent;
   filter: invert(50%);
   cursor: pointer;
   margin-left: 5px;
}
.Save_Input
{
   height: 20px;
   width: 20px;
   background-size: 20px 20px;
   background-image: url('/media/Save_icon.png');
   background-repeat: no-repeat;
   border: none;
   background-color: transparent;
   filter: invert(50%);
   cursor: pointer;
   margin-left: 5px;
}
.Validate_Input
{
   height: 20px;
   width: 20px;
   background-size: 20px 20px;
   background-image: url('/media/Validate_icon.png');
   background-repeat: no-repeat;
   border: none;
   background-color: transparent;
   filter: invert(50%);
   cursor: pointer;
   margin-left: 5px;
}
label 
{
   width: 100px;
   display: inline-block;
   margin-right: 50px;;
 }

.Nw_productlink
{
   right: 10px;
}
.User_input
{
   width: 250px;
}.Nb_input
{
   width: 50px;
}
#cercle 
{
   width: 200px;
   height: 200px;
   border-radius: 100px;

   background-position: center; 
   background-repeat: no-repeat;
   background-size: cover; 
}
.Modify_img_submit
{
   border: none;
}
#product_div
{
   background-position: center; 
   background-repeat: no-repeat;
   background-size: cover; 
   color: black;
}
#product_div_admin
{
   width: 100px;
   height: 100px;
   background-position: center; 
   background-repeat: no-repeat;
   background-size: cover; 
}

.td_table_admin_user
 {
    padding: 10 60 10 60;
 }

 .div_graph
 {
   display: flex;
 }