{% extends 'user.html.twig' %}

{% block title %}
    Edit Product
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center"> Edit Product </h1>
        <div class="row justify-content-center">
            <img id="cercle" src="{{ product.product.image }}" alt="">
        </div>
        {{ include ('/user/product/_form.html.twig', {form: form, button: 'Edit'}) }}
    </div>

{% endblock %}