{% extends 'user.html.twig' %}

{% block title %}
    Dashboard
{% endblock %}

{% block body %}
    <div class="text-center">
        <h1>My Account</h1>
    </div>
    {% for message in app.flashes('success') %}
        <div class="div alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group text-right">
    <button class="btn btn-lg btn-success mt-2 ml-0" type="submit">Save</button>
    {{ form_end(form) }}

{% endblock %}