{% extends 'user.html.twig' %}

{% block title %}
    Dashboard
{% endblock %}

{% block body %}
    <div class="text-center">
        <h1>My Account</h1>
    </div>
    {{ form_start(form) }}


    {{ form_end(form) }}

{% endblock %}