{% extends 'admin.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    <div class="div container text-center mt-4">
        <h1>Edit Category</h1>
        <div class="text-right mb-4">
            <a href="{{ path('category_index') }}" class="btn btn-primary">back to list</a>
        </div>
        <div class="text-left">
            {{ include('/admin/category/_form.html.twig', {'button_label': 'Update'}) }}

            {{ include('/admin/category/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
