{% extends 'admin.html.twig' %}

{% block title %}New Slider{% endblock %}

{% block body %}
<div class="text-center">
    <h1>Create new Slider</h1>
    <div class="text-right mb-4">
        <a href="{{ path('admin_slider_index') }}" class="btn btn-primary">back to list</a>
    </div>

    <div class="text-left">

        {{ include('admin/slider/_form.html.twig') }}
    </div>





{% endblock %}
