{% extends "layout.twig" %}

{% block head %}
	<title>
		Add Product
	</title>
{% endblock %}

{% block body %}


	<form id="form" enctype="multipart/form-data" action="/addProductSub" method="post" name="">
		<div id="divProduct" class="form-group">
			<label for="product">Produit</label>
			<select class="custom-select" name="produit[]" id="" required>
				{% for produit in produits %}
					<option value="{{ produit.id }}">[{{ produit.id }}]
						{{ produit.name }}
					</option>
				{% endfor %}
			</select>
			<label for="stockReel">Stock Reel</label>
			<input class="form-control" type="number" name="stockReel[]" min="0">
			<label for="stockOptimal">Stock Optimal</label>
			<input class="form-control" type="number" name="stockOptimal[]" min="0" required>
			<label for="image">Image</label>
			<input name="image" class="form-control" type="file" aria-describedby="inputGroupFileAddon01">
			<br>
		</div>
		<input name="envoyer" id="submit" class="btn btn-primary" type="submit" value="envoyer">
	</form>
	<br>
	<a href="#" id='addProduct' alt='ajouter un autre produit'>+ Ajouter un autre produit</a>
	<script type="text/javascript" src="./js/addFormProduct.js"></script>
{% endblock %}
{% block footer %}{% endblock %}
