<html>

	<head>
		{% block head %}{% endblock %}
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/style.css">
		<link rel="stylesheet" type="text/css" href="extensions/filter-control/bootstrap-table-filter-control.css">
		<link href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css" rel="stylesheet">
	</head>

	<body>
		{% block nav %}
			<nav class="nav flex-column" id="navbar">
				<li class="nav-item">
					<a class="nav-link" href="/admin/dashboard">
						<i class="fas fa-home"></i>
						<span class="spanMenu">Dashboard</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin/product">
						<i class="fas fa-carrot"></i>
						<span class="spanMenu">Products</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin/users">
						<i class="fas fa-users"></i>
						<span class="spanMenu">Users</span>
					</a>
				</li>
				<li class="nav-item" id="toogleButton">
					<a class="nav-link" href="#">
						<i id="arrow" class="fas fa-arrow-left"></i>
						<span class="spanMenu">Toggle Menu</span>
					</a>
				</li>
			</nav>

		{% endblock %}
	</body>
</html></nav><div id="container" class="container-fluid col-9"> {% block body %}{% endblock %}
</div>
<footer class="footer">
	<div id="containerFooter" class="container col-9">
		<span class="text-muted">
			{% block footer %}
				ici un footer dans layout
			{% endblock %}
		</span>
	</div>
</footer>
<script src="/js/toggleMenu.js"></script>
<script src="https://kit.fontawesome.com/7bae4d8b24.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-show-password/1.0.3/bootstrap-show-password.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script></body></html>
