{% extends "layout.twig" %}

{% block head %}
	<title>
		Conso
	</title>
{% endblock %}
{% block body %}
	<p class="h1 text-center">Liste des produits pour
		{{ user.fullName }}
	</p>
	<br>
	{% for produit in produits %}
		<div class="d-inline-flex p-2">
			<div class="card" style="width: 18rem;">
				<img class="card-img-top rounded mx-auto d-block" src="{{produit.image}}" alt="Card image cap">
				<div class="card-body text-center">
				<form action="/consoSub/{{produit.id}}" method="post" name="formConso">
					<h5 class="card-title">{{produit.name}}</h5>
					<input class="btn btn-primary" type="submit" value="+" name="add">
					<input id="inputNb" class="form-control" type="number" min="0" name="inputed_nb">
					<input class="btn btn-primary" type="submit" value="-" name="sub">
					</form>
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}
{% block footer %}{% endblock %}
