{% extends "layout.twig" %}

{% block head %}
	<title>
		Contact
	</title>
{% endblock %}


{% block body %}
	<p class="h1 text-center">Vous souhaitez me contacter? 
		{{ user.fullName }}
	</p>
	<br>
	<form>
		<div class="form-group">
			<label for="exampleInputEmail1">Reason</label>
			<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Reason of contact">
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">Comments</label>
			<div class="form-group">
			  <label for=""></label>
			  <textarea class="form-control" name="" id="" rows="3" placeholder="Comments"></textarea>
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
{% endblock %}
{% block footer %}
<p> Le formulaire ne fonctionne pas, il s'agit seulement d'un exemple </p>
{% endblock %}
