{% extends "base.html.twig" %}

{% block title %}
    {{ page.name }}
{% endblock %}

    {% block body %}
    <h1 class="text-center">{{ page.name }}</h1>
        <br>
        {% for section in sections|filter(s => s.isActive) %}
           <div class="row d-flex justify-content-around mr-5 ml-5">
               {{ section.content|raw }}
           </div>
            <br>
        {% endfor %}
    {% endblock %}