{% extends "base.html.twig" %}

{% block title %}
    {{ page.name }}
{% endblock %}

    {% block body %}
        {% for section in sections|filter(s => s.isActive) %}
            <div id="section" style="background-color: {{ section.color }}">
                <div class="row d-flex justify-content-around mr-5 ml-5">
                    {{ section.content|raw }}
                </div>
            </div>
            <br>
        {% endfor %}
    {% endblock %}