{% extends "base.html.twig" %}

{% block title %}
    Home
{% endblock %}

    {% block body %}
        <p class="h1 text-center">Home</p>

        <a href="/admin/dashboard">Admin Dashboard</a>

    {% endblock %}