{% extends "layout.twig" %}

{% block head %}
	<title>
		Home
	</title>
	
{% endblock %}

{% block body %}

	<h1>
		Bienvenue {{ user.fullName }}
	</h1>
	<p>
		In sit qui labore laborum. Nulla sint velit non aute sit magna eiusmod non. Nulla consequat Lorem anim duis veniam excepteur veniam dolore consectetur.

Ut adipisicing consequat qui amet aute Lorem. Lorem exercitation esse minim in incididunt. Ipsum magna incididunt elit est cillum ad eiusmod deserunt minim. Occaecat ullamco do quis non ea nostrud. Qui irure magna veniam magna. Voluptate ea enim id ad consequat aliqua nulla deserunt irure deserunt duis et.

Sint non magna enim exercitation excepteur ex adipisicing nisi. Irure sunt cupidatat ut anim deserunt tempor ut. Excepteur qui ipsum elit pariatur exercitation. Deserunt elit do et non id adipisicing ullamco deserunt non cillum ut id aute.Veniam commodo et minim ex sunt dolor quis duis adipisicing. Anim culpa deserunt amet incididunt sint est ut. In consectetur magna ad in sit velit laboris laboris dolore. Sunt eu qui incididunt irure dolor laborum est minim deserunt aliqua sunt aliqua. Tempor tempor voluptate incididunt aliqua sunt consectetur aute est cillum culpa id non Lorem excepteur. Non fugiat nulla minim id do esse reprehenderit exercitation incididunt labore esse dolor dolore.</p>

{% endblock %}


{% block footer %}
	ici le footer
{% endblock %}
