<div class="col-4">
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Product</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td><a href="/admin/product/edit/{{ product.id }}">{{ product.name }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>