<div class="col-4">
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Username</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td><a href="/admin/user/{{ user.id }}">{{ user.username }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>