{% extends 'admin.html.twig' %}

{% block title %}
    Edit Product
{% endblock %}

{% block body %}
    <div class="text-left">
        <h1 class="text-center"> Edit Product </h1>
        <div class="row justify-content-center">
            {% if product.filename %}
            <img src="{{ vich_uploader_asset(product, "imageFile") | imagine_filter('thumb') }}" alt="">
                {% else %}
                    <img src="{{ "/images/products/empty.jpg" | imagine_filter('thumb') }}" alt="">
            {%  endif %}
        </div>
        {{ include ('admin/product/_form.html.twig', {form: form, button: 'Edit'}) }}
    </div>

{% endblock %}