{% extends 'base.html.twig' %}

{% block title %}
    Edit Product
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-center"> Edit Product </h1>

{{ include ('admin/product/_form.html.twig', {form: form, button: 'Edit'}) }}
    </div>

{% endblock %}