{% extends 'admin.html.twig' %}

{% block title %}
    Create Product
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-center"> Create Product </h1>

        {{ include ('admin/product/_form.html.twig', {form: form, button: 'Create'}) }}
    </div>

{% endblock %}